.link {
  text-decoration: none;
  color: #000;
}

.imageRow {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.image {
  width: 50%;
}

.back {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: #c4c4c433;
  position: absolute;
  left: 20px;
  top: 110px;
}

.detail {
  padding: 20px;
  .title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: capitalize;
  }
  .price {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #4a4a4a;
  }
  .description {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
  }
  .para {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: justify;
  }
  .addButton {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #123262;
    padding: 0.8rem 1rem;
  }
  .buttonRow {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 1024px) {
  .back {
    top: 100px;
  }
  .detail {
    .title {
      font-size: 32px;
    }
    .price {
      font-size: 22px;
    }
    .description {
      font-size: 20px;
    }
    .para {
      font-size: 18px;
    }
    .addButton {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .image {
    width: auto;
  }
  .detail {
    .title {
      font-size: 26px;
    }
    .price {
      font-size: 20px;
    }
    .description {
      font-size: 18px;
    }
    .para {
      font-size: 16px;
    }
    .addButton {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .image {
    width: 100%;
  }

  .imageRow {
    margin: 0;
  }

  .back {
    top: 80px;
    background-color: #fff;
  }

  .detail {
    .title {
      font-size: 22px;
      font-weight: 500;
    }
    .price {
      font-size: 16px;
      font-weight: 500;
    }
    .description {
      font-size: 14px;
      font-weight: 500;
    }
    .para {
      font-size: 12px;
      font-weight: 400;
    }
    .addButton {
      font-size: 14px;
      font-weight: 600;
      padding: 0.8rem 1rem;
    }
  }
}
